<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>Ad Static Template</title>
<link rel="stylesheet" href="shared.css">
<link rel="stylesheet" href="../node_modules/@fontsource/noto-serif-jp/900.css">
<link rel="stylesheet" href="../node_modules/@fontsource/noto-sans-jp/900.css">
<link rel="stylesheet" href="ad.css">
</head>
<body>
<div id="stage">
  <div id="sky"></div><div id="forest"></div>
  <div id="content"></div>
  <div id="guides" class="layer"></div>
</div>
<script src="lib.js"></script>
<script src="ad.js"></script>
</body>
</html>
